body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #000;

.header
  padding: 10px
  background-color: rgb(183, 215, 216)

.header .logo
  display: inline-block
  font-size: 18px
  font-weight: bold

.header .button-container
  display: inline-block
  padding: 0px 25px

.header button.selected
  font-weight: bold
  background-color: #ffc600

.header .buttons-right
  float: right
  padding: 0px 10px

.header button.checked
  background-color: #ffc600

.logarea
  position: relative
  padding: 10px
  background-color: #000
  color: #FFF
  overflow: auto

.logarea .startmessage
  padding: 25px 0
  font-size: 24px

.logarea .log-content
  font: 12px "Courier New"
  white-space: pre-wrap
