doctype 5
html
  head
    title= title
    link(rel='stylesheet'
      href='http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(
      src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='js/client.js')
  body
    block content
